# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
.env*
*.local
!.env.example

# Cloudflare Wrangler local cache
.wrangler

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/


# Next .js build output
.next/

# Testing files
.playwright-test/
.playwright-mcp
.wrangler/